html, body { /*caracteríticas generales del body del html*/
    width:100%;
    background-color: #F9D48B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;

 }

* {/*para todos los elementos*/
    box-sizing: border-box;/*elementos contenidos dentro de box madre, incluyendo padding/margin*/
    Font-family: Consolas, monaco, monospace;

  }


.barra{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 115px;
    background-color: #D12332;
    border: 3px solid;
    border-color: #2C46B2;
    padding: 10px;

}
.logos{
  display: flex;
}

#pokemonLogo{

    width: 80%;
    margin-left: 30px;
    cursor: pointer;
}

#goLogo{
    width: 70%;
    margin-left: -30px;
    padding-top: 10px;
    justify-content: flex-end;

}

#ash{
    width: 8%;
    height: 125%;
    margin-left: 400px;
    padding-bottom: 20px;
}

.searchBox{
    display: flex;
    margin-top: 10px;
    margin-right: 80px;
    flex-direction: column;
    width: 25%;
}

.searchSubmit{
   display: flex;
   margin-bottom: 0px;
}

#search{
    width: 100%;
    background-color: #F3F4F6;
    border: 3px solid;
    border-color: #2C46B2;
    border-radius: 15px;
    top: 20px;
    font-size: 20px;
    align-self: flex-start;

}


#searchSubmit{
    margin-left: -30px;
    height: auto;
    background-color:#F3F4F6;
    border: 3px solid;
    border-color: #2C46B2;
    border-radius: 15px;
    justify-content: flex-end;
}


.labelFilters{
    width: 60%;
    padding: 3px;
    color: #F9D48B;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-self:flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: column;

}
.bottoms{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selectsFilters{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.labelOrder{
margin-top: 26px;
}

#order {
  background-color:#F9D48B;
  border: 3px solid;
  border-color: #2C46B2;
  border-radius: 15px;
  color: #D12332;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

#order option {
  background-color:#F9D48B;
  color: #D12332;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

#region{
  background-color:#F9D48B;
  border: 3px solid;
  border-color: #2C46B2;
  border-radius: 15px;
  color: #D12332;
  font-size: 10px;
  font-weight: bold;
  width: 40%;
  cursor: pointer;
}

#region option {
  background-color:#F9D48B;
  color: #D12332;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 40%;
}
#type{
  background-color:#F9D48B;
  border: 3px solid;
  border-color: #2C46B2;
  border-radius: 15px;
  color: #D12332;
  font-size: 12px;
  font-weight: bold;
  width: 40%;
  cursor: pointer;
}
#type option{
  background-color:#F9D48B;
  color: #D12332;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 40%;
}


.mainContent{
  display: flex;
  overflow: hidden;
}

#pokemonDiv{

  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;
  gap: 70px;

}

.pokemonIndividual {

  width: 30%;
  background-color: #F3F4F6;
  border: 3px solid;
  border-radius: 16px;
  border-color: #2C46B2;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.pokemonIndividualCard{
  width: 50%;
  background-color: #F3F4F6;
  border: 3px solid;
  border-radius: 16px;
  border-color: #2C46B2;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  display:flex;
  flex-direction: row;

}

.pokemonBasics{
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;

}

.pokemonMiniAbout{
  width: 100%;
  padding: 10px;
  background: #F5F5F5;
  border: 1.5px solid #2C46B2;
  border-radius: 15px;
}

.pokemonDetails{
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
}

.numPokemonCard{
  font-size: 25px;
  margin-bottom: 1px;
}

.imagePokemon{
margin-top: -10px;
}

.namePokemon{
  font-size: 25px;
  margin-top: -8px;

}

.typePokemon{
 font-size: 18px;
 margin-top: 5px;
 margin-bottom: 10px;
}

.numPokemon{
   font-size: 25px;
   margin-left: 200px;
   margin-top: 8px;
}

.generationPokemon{
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  color: #D12332;
}

.weigthPokemon{
  color: #5B4848;
  font-size: 17px;
  font-weight: bold;
}

.heigthPokemon{
  color: #5B4848;
  font-size: 17px;
  font-weight: bold;
}

.aboutPokemon{
  padding: 10px;
  margin-bottom: 12px;
  margin-top:11px;
  background-color: rgba(107, 138, 238, 0.555);
  border: 0px solid;
  border-radius: 15px;
}

.statsPokemon{
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1.5px solid #2C46B2;
  border-radius: 15px;
  font-size: 18px;
  margin-top: 20px;
}

.attacksTitle{
  font-size: 22px;

}

.pokemonAttack{
  width:100%;
  background: #F5F5F5;
  border: 1.5px solid #D12332;
  border-radius: 15px;
  margin-top: 8px;
  padding: 5px;
  padding-right: 30px;

}

.headerTable{
  color:#D12332;
  font-weight: lighter;
}

.attackNameTable{
  font-weight: lighter;
}

.attackStats{
  color: #5B4848;
  font-weight: lighter;
}


.footer{
  bottom: 0;
  width: 100%;
  background-color: #D12332;
  border: 3px solid;
  border-color: #2C46B2;
  height: 75px;
  top: 950px;
  margin-top: 50px;
  display: flex;/*tipo de block flex para poder delimitar separación*/
  justify-content: space-around;

}

.copyright{
    margin-top: 17px;
    margin-left: 50px;
    font-size: 30px;
    color: white;
}

.followText{ /*buscar cómo se despliega inline*/
    margin-left: 180px;
    margin-right: 20px;
    color:white;
    font-size: 20px;
    padding-top: 20px;
    width: 20%;
}

.media{

    display:flex;
    margin-right: 50px;
    color:white;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
}
.fb{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin-right: 10px;

}
.fb img{
  width: 40%;
  height: 40%;

}

.yt{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin-right: 10px;
}
.yt img{
  width: 40%;
  height: 40%;
}

.tw{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin-right: 10px;
}
.tw img{
  width: 40%;
  height: 40%;
}
